In [1]:
import pandas as pd
import numpy as np

import pymysql  # for getting data from a SQL database
from sqlalchemy import create_engine #for establishing the connection and authentication

from getpass import getpass  # To get the password without showing the input

In [2]:
password = getpass() # doesn't appear in my notebook but I have to enter my password

········

In [3]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'#specify which database we want to use #to create a connection, mysql needs so info
engine = create_engine(connection_string) # connection to give python the information of the tabel

In [7]:
# 1. How many distinct (different) actors' last names are there?
query1 = 'SELECT COUNT(DISTINCT(last_name)) FROM sakila.actor'
q1 = pd.read_sql_query(query1, engine) #We use panda to read the query and then put in a SQL query
q1.head()

   COUNT(DISTINCT(last_name))
0                         121

In [8]:
# 2. Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.
query2 = 'SELECT COUNT(DISTINCT(last_name)) FROM sakila.actor'
q2 = pd.read_sql_query(query2, engine) #We use panda to read the query and then put in a SQL query
q2.head()

   COUNT(DISTINCT(last_name))
0                         121

In [12]:
# 3. Get all films with ARMAGEDDON in the title.
query3 = 'Select * \
FROM film \
WHERE title LIKE "%%ARMAGEDDON%%"'
q3 = pd.read_sql_query(query3, engine)
q3

In [15]:
# 4. Get 10 the longest films.

query4 = ('SELECT * \
FROM film \
ORDER BY length DESC \
LIMIT 10;')
q4 = pd.read_sql_query(query4, engine)
q4

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,349,GANGS PRIDE,A Taut Character Study of a Woman And a A Shar...,2006,1,None,4,2.99,185,27.99,PG-13,Behind the Scenes,2006-02-15 05:03:42
1,872,SWEET BROTHERHOOD,A Unbelieveable Epistle of a Sumo Wrestler And...,2006,1,None,3,2.99,185,27.99,R,Deleted Scenes,2006-02-15 05:03:42
2,609,MUSCLE BRIGHT,A Stunning Panorama of a Sumo Wrestler And a H...,2006,1,None,7,2.99,185,23.99,G,Deleted Scenes,2006-02-15 05:03:42
3,817,SOLDIERS EVOLUTION,A Lacklusture Panorama of a A Shark And a Pion...,2006,1,None,7,4.99,185,27.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42
4,690,POND SEATTLE,A Stunning Drama of a Teacher And a Boat who m...,2006,1,None,7,2.99,185,25.99,PG-13,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
5,141,CHICAGO NORTH,A Fateful Yarn of a Mad Cow And a Waitress who...,2006,1,None,6,4.99,185,11.99,PG-13,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
6,182,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,1,None,7,4.99,185,9.99,G,Commentaries,2006-02-15 05:03:42
7,991,WORST BANGER,A Thrilling Drama of a Madman And a Dentist wh...,2006,1,None,4,2.99,185,26.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
8,426,HOME PITY,A Touching Panorama of a Man And a Secret Agen...,2006,1,None,7,4.99,185,15.99,R,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
9,212,DARN FORRESTER,A Fateful Story of a A Shark And a Explorer wh...,2006,1,None,7,4.99,185,14.99,G,Deleted Scenes,2006-02-15 05:03:42

In [20]:
# 5. How many films include Behind the Scenes content?

query5 = 'SELECT COUNT(title) AS "NO_behind_the_scenes" \
FROM film \
WHERE special_features LIKE "%%Behind the Scenes%%"'
q5 = pd.read_sql_query(query5, engine) 
q5

   NO_behind_the_scenes
0                   538

In [22]:
# 6. Which kind of movies (rating) have a mean duration of more than two hours?
query6 = 'SELECT rating, ROUND(AVG(length),2) AS "mean_length" \ 
FROM film \
GROUP BY rating \
HAVING ROUND(AVG(length),2) > 120'
q6 = pd.read_sql_query(query6, engine) 
q6

  rating  mean_length
0  PG-13       120.44

In [44]:
# 7. Rank films by length (filter out the rows that have nulls or 0s in length column). 
# In your output, only select the columns title, length, and the rank.

query7 = 'SELECT title, length, RANK() OVER(ORDER BY length) AS "ranking" \
from film \
WHERE length <> ' ' OR 0;'
q7 = pd.read_sql_query(query7, engine) 
q7

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'OR 0' at line 1")
[SQL: SELECT title, length, RANK() OVER(ORDER BY length) AS "ranking" from film WHERE length <>  OR 0;]
(Background on this error at: https://sqlalche.me/e/14/f405)